<div class="jumbotron">
    <div class="container">
        <h1 class-"lead" style="font-weight: 300; font-size: 50px;">PairBnb Book unique experiences <br>and homes in 191+ countries</h1>
    </div>
</div>

<div class="SearchForm">
  <div class="wrapper-searchForm">
    <div class="searchForm-list lead searchForm-text" style="margin-left: 28px;">
      Where<br>
      <input type="text" placeholder="Destination, city, address" size="28px">

    </div>
    <div class="searchForm-list lead searchForm-text">
      When<br>
    <input type="text" placeholder="Check In, Check Out" size="28px">
  </div>
    <div class="searchForm-list lead searchForm-text">
      Guest<br>
      <input type="text" placeholder="Destination, city, address" size="28px">
    </div>
  </div>
</div>

<!-- listing-content -->
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="card-img">
        <%= image_tag("gallery4.jpg", class: "img-responsive") %>
        <div class="content-wrapper">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, autem labore nihil quis officiis nemo ex nisi, ad sunt esse commodi necessitatibus ipsum, impedit quidem vitae neque dolore accusamus reiciendis.</p>
          <%= link_to "Book Now", "#", class: "btn btn-default" %>

        </div>
        </div>
    </div>
    <div class="col-md-4">
      <div class="card-img">
        <%= image_tag("gallery2.jpg", class: "img-responsive") %>
        <div class="content-wrapper">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, autem labore nihil quis officiis nemo ex nisi, ad sunt esse commodi necessitatibus ipsum, impedit quidem vitae neque dolore accusamus reiciendis.</p>
          <%= link_to "Book Now", "#", class: "btn btn-default" %>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card-img">
        <%= image_tag("gallery3.jpg", class: "img-responsive") %>
        <div class="content-wrapper">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, autem labore nihil quis officiis nemo ex nisi, ad sunt esse commodi necessitatibus ipsum, impedit quidem vitae neque dolore accusamus reiciendis.</p>
          <%= link_to "Book Now", "#", class: "btn btn-default" %>
        </div>
      </div>
    </div>
  </div>

</div>
