<div class="jumbotron">
    <div class="container">
        <h1 class-"lead" style="font-weight: 300; font-size: 50px;">PairBnb Book unique experiences <br>and homes in 191+ countries</h1>
    </div>
</div>

<div class="SearchForm">
  <div class="wrapper-searchForm">
    <div class="searchForm-list lead searchForm-text" style="margin-left: 28px;">
      Where<br>
      <input type="text" placeholder="Destination, city, address" size="28px">

    </div>
    <div class="searchForm-list lead searchForm-text">
      When<br>
      <%= form_for @reservation do |f| %>
      <%= f.text_field :check_in, class: "searchCalender", placeholder: "Check in", size: "28px" %><br/>
      <%= f.submit class: "reservation-btn" %>
      <% end %>
  </div>
    <div class="searchForm-list lead searchForm-text">
      Guest<br>
      <input type="text" placeholder="Destination, city, address" size="28px">
    </div>
  </div>
</div>

<!-- listing-content -->
<div class="container">
  <div class="row">
    <% Listing.all.each do |listing| %>
    <div class="col-md-4">
      <div class="card-img">
        <%= image_tag("gallery4.jpg", class: "img-responsive") %>
        <div class="content-wrapper">
          <p>$<%= listing.price %></p>
          <p><%= listing.about %></p>
          <%= link_to "Book Now", listing_path(listing), class: "btn btn-default" %>
        </div>
        </div>
        <br>
    </div>
    <% end %>
  </div>

</div>
