<div class="jumbotron">
  <%= video_tag("video2.mp4", id: "video-background", autoplay: true, loop: true, muted: true)%>
    <div class="container">
      <h1 style="margin-top: 100px; color: #fff; font-weight: 300;"><strong style="color: #337ab7;">PairBnb</strong> | Book unique experiences <br>and homes in 191+ countries</h1>
    </div>
</div>

<div class="SearchForm">
      <%= form_for listings_path, method: :get do %>
      <div class="input-group">
        <%= text_field_tag :query, params[:query], placeholder: "Look for a place", class: "form-control" %>
        <span class="input-group-btn">
          <%= submit_tag "Search", title: nil, about: nil, class: "btn btn-default" %>
        </span>
      </div>
      <% end %>
  </div>

<div class="container listhome">
  <div class="row">
    <% @listings.each do |listing| %>
    <div class="col-md-4">
      <div class="card-img">
        <%= image_tag("gallery4.jpg", class: "img-responsive") %>
        <div class="content-wrapper">
          <p><strong><%= listing.title %></strong></p>
          <p>address:<%= listing.address %></p>
          <p style="float: left;">rating:<%= listing.ratings %></p>
          <p style="text-align: right">No of guest:<%= listing.no_of_guests %></p>
          <p>$<%= listing.price %></p>
          <%= link_to "View", listing_path(listing), class: "btn btn-default" %>
        </div>
        </div>
        <br>
    </div>
    <% end %>
  </div>
</div>

<div class="pagination"><%= will_paginate @listings, renderer: BootstrapPagination::Rails, previous_label: "Older", next_label: "Newer", inner_window: 1, outer_window: 0 %></div>
