<div class="listing-form">
  <div class="row">
    <h4 class="lead">Your Listings</h4>
    <div class="col-md-4">
      <%= f.label :title, class: 'lead', style: 'font-size:15px; margin-bottom: 7px;' %>
      <%= f.text_field :title, class: 'form-control' %>
    </div>
    <div class="col-md-4">
      <%= f.label :about, class: 'lead', style: 'font-size:15px; margin-bottom: 7px;' %>
      <%= f.text_field :about, class: 'form-control' %>
    </div>
    <div class="col-md-4">
      <%= f.label :about, class: 'lead', style: 'font-size:15px; margin-bottom: 7px;' %>
      <%= f.text_field :about, class: 'form-control' %>
    </div>
    <div class="col-md-4">
      <%= f.label :no_of_guests, class: 'lead', style: 'font-size:15px; margin-bottom: 7px;' %>
      <%= f.number_field :no_of_guests, class: 'form-control' %>
    </div>
    <div class="col-md-4">
      <%= f.label :bedroom, class: 'lead', style: 'font-size:15px;margin-bottom: 7px; margin-top: 7px'%>
      <%= f.number_field :bedroom, class: 'form-control' %>
    </div>
    <div class="col-md-4">
      <%= f.label :roomtype, class: 'lead', style: 'font-size:15px;margin-bottom: 7px; margin-top: 7px'%>
      <%= f.select :roomtype, Listing.roomtypes, {}, { class: 'form-control' } %>
    </div>
    <div class="col-md-4">
      <%= f.label :bathroom, class: 'lead', style:  'font-size:15px;margin-bottom: 7px; margin-top: 7px'%>
      <%= f.number_field :bathroom, class: 'form-control' %>
    </div>
    <div class="col-md-4">
      <%= f.label :price, class: 'lead', style: 'font-size:15px;margin-bottom: 7px; margin-top: 7px' %>
      <%= f.number_field :price, class: 'form-control'%>
      <br>
    </div>
    <div class="col-md-4">
      <%= f.label "Image station", class: 'lead', style: 'font-size:15px;margin-bottom: 7px; margin-top: 7px' %>
      <%= f.file_field :images, multiple:true, class: 'form-control'%>

    </div>
    <div class="col-md-4" style="margin-top: 35px">
      <%= f.submit 'Create New Listing', class: 'btn btn-default'%>
    </div>
  </div>
</div>
