<h1>Title <%= @listings.title %></h1>
<div>
   Posted By: <%= @listings.user.user_name %>
</div>
<p>Description: <%= @listings.about %></p>
<p>No of Guest: <%= @listings.no_of_guests %></p>
<p>Price: <%= @listings.price %></p>

<%= link_to "Book Now", new_reservation_path, class: "btn btn-default" %>
