<h1>Listing</h1>


<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="card-img">
        <%= image_tag("gallery4.jpg", class: "img-responsive") %>
        <div class="content-wrapper">
          <h1>user_id: <%= @listing.user_id %></h1>
          <h1>price: <%= @listing.price %></h1>
          <p>No. Bedrooms:<%= @listing.bedroom %></p>
          <p>No. Bathrooms:<%= @listing.bathroom %></p>
        </div>
        </div>
        <br>
    </div>
  </div>

</div>
