<div class="img-wrapper">
<% @listing.images.each do |img| %>
      <%= image_tag img %>
  <% end %>

</div>

<div class="card-img2">
  <div class="card-content2">
    <h1>Title <%= @listing.title %></h1>
    <div>
       Posted By: <%= @listing.username %>
    </div>
    <p>Description: <%= @listing.about %></p>
    <p>No of Guest: <%= @listing.no_of_guests %></p>
    <p>Price: <%= @listing.price %></p>
    <div class="booknw">
        <%= link_to "Book Now", new_listing_reservation_path(@listing), class: "btn btn-primary booknow", style: "text-transform:uppercase; width: 100%;" %>
    </div>
  </div>
</div>
