<div class="container">
    <h1 class="lead profile-font">USER PROFILE</h1>
    <%= @user.email %>
    <hr>
    <h4>Your Listings</h4>
</div>

<div class="container">
    <div class="row" style="margin-bottom: 5em;">
        <%= @user.listings.each do |listing| %>
        <div class="col-md-8">
            <div class="card-img">
                <%= image_tag("gallery4.jpg", class: "img-responsive") %>
                <div class="content-wrapper">
                    <p>$<%= listing.price %></p>
                    <p><%= listing.about %></p>
                    <p>Ratings:<%= listing.ratings %></p>
                    <p>No. Bedrooms:<%= listing.bedroom %></p>
                    <p>No. Bathrooms<%= listing.bathroom %></p>
                </div>
            </div>
        </div>
        <% end %>
      </div>
</div>

<div class="listing">
  <h4 class="lead" style="50px">Your Trips</h4>
    <%= form_for @new_listing do |f| %>
    <div class="col-md-4">
      <%= f.label :about, class: 'lead', style: 'font-size:15px;' %>
      <%= f.text_field :about, class: 'form-control' %>
    </div>
    <div class="col-md-4">
      <%= f.label :address, class: 'lead', style: 'font-size:15px;' %>
      <%= f.text_field :address, class: 'form-control' %>
    </div>
    <div class="col-md-4">
      <%= f.label :ratings, class: 'lead', style: 'font-size:15px;' %>
      <%= f.number_field :ratings, class: 'form-control' %>
    </div>
    <div class="col-md-4">
      <%= f.label :bedroom, class: 'lead', style: 'font-size:15px;'%>
      <%= f.number_field :bedroom, class: 'form-control' %>
    </div>
    <div class="col-md-4">
    <%= f.label :bathroom, class: 'lead', style:  'font-size:15px;'%>
    <%= f.number_field :bathroom, class: 'form-control' %>
    </div>
    <div class="col-md-4">
      <%= f.label :price, class: 'lead', style: 'font-size:15px;' %>
      <%= f.number_field :price, class: 'form-control'%>
      <br>
      <%= f.submit 'Create New Listing', class: 'btn btn-default'%>
      <% end %>
    </div>
</div>

<% @user.reservations.each do |reservation| %>
<%=reservation.listing.user.email%>
<%=reservation.listing.about%>
<%=reservation.check_in%>
<%=reservation.check_out%>
<%end%>
