
<div class="table-book">
  <table class="table table-hover">
    <tr>
      <th>Listing Title</th>
      <th>Rooms</th>
      <th>No. of Guests</th>
      <th>Check In</th>
      <th>Check Out</th>
      <th>Total price</th>
      <th>Payment</th>
      <th>Status</th>
    </tr>
    <% @reservations.each do |reservation| %>
    <tr>
      <td><%= link_to reservation.listing.title, reservation.listing %></td>
      <td style="text-align: center;"><%= reservation.rooms %></td>
      <td style="text-align: center;"><%= reservation.no_of_guests %></td>
      <td><%= reservation.check_in.strftime('%d %B %y') %></td>
      <td><%= reservation.check_out.strftime('%d %B %y') %></td>
      <td style="text-align: center;"><%= reservation.total_price %></td>
      <td><%= link_to "Pay Now", payment_new_path %></td>      
      <td><%= link_to "Cancel Reserve", reservation, method: :delete %></td>
    </tr>
  <%end%>
  </table>
</div>
